Master Amazon Social Media Auto-Poster.json
{
  "name": "Master Amazon Social Media Auto-Poster",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "amazon-master-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "af4445ef-ebf1-446a-8253-3e589a9c46b9",
      "name": "Amazon-Master-Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1248,
        288
      ],
      "webhookId": "87cb3dcd-4fdb-4321-bee7-9de4addc0d8f"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "1c9a9f7f-f735-4001-9ca9-0e772f9b08de",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -952,
        512
      ],
      "credentials": {
        "openAiApi": {
          "id": "VJa6Ab1DUXfA9lLs",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.title }}\n{{ $json.social_caption }}\n{{ $json.long_description }}\n{{ $json.category }}\n{{ $json.amazon_link }}\n{{ $json.image_url }}",
        "options": {
          "systemMessage": "You are a social media content optimizer. Transform the provided product information into platform-specific content.\n\nYour task:\n1. Analyze the input: title, social_caption, long_description, category, amazon_link, and image_url\n2. Generate optimized content for each platform:\n   - twitter_content: Short, punchy (max 280 chars) with hashtags\n   - pinterest_content: Short, engaging description (max 500 chars)\n   - linkedin_content: Professional, detailed (500-1000 chars)\n   - facebook_content: Engaging, casual (300-500 chars)\n   - instagram_content: Engaging with emojis (max 2200 chars)\n   - telegram_content: Informative with formatting (max 4096 chars)\n   - discord_content: Community-friendly (max 2000 chars)\n   - medium_content: Long-form article (1000-2000 words) in HTML format\n   - deviantart_content: Creative description (max 500 chars)\n\n3. Return ONLY a JSON object with these exact fields:\n{\n  \"twitter_content\": \"...\",\n  \"pinterest_content\": \"...\",\n  \"linkedin_content\": \"...\",\n  \"facebook_content\": \"...\",\n  \"instagram_content\": \"...\",\n  \"telegram_content\": \"...\",\n  \"discord_content\": \"...\",\n  \"medium_content\": \"...\",\n  \"deviantart_content\": \"...\"\n}"
        }
      },
      "id": "7ff470b2-a358-4763-9d2d-eefefa3c78d8",
      "name": "AI Content Transformer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1024,
        288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pinterest.com/v5/pins",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pinterestOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"board_id\": \"<__PLACEHOLDER_VALUE__Pinterest Board ID__>\",\n  \"media_source\": {\n    \"source_type\": \"image_url\",\n    \"url\": \"={{ $('Amazon-Master-Webhook').first().json.image_url }}\"\n  },\n  \"link\": \"={{ $('Amazon-Master-Webhook').first().json.amazon_link }}\",\n  \"title\": \"={{ $('Amazon-Master-Webhook').first().json.title }}\",\n  \"description\": \"={{ $json.pinterest_content }}\"\n}",
        "options": {}
      },
      "id": "9861efe9-69ed-4a5f-876d-628e9cb3bf64",
      "name": "Post to Pinterest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v21.0",
        "node": "<__PLACEHOLDER_VALUE__Facebook Page ID__>/feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{ $json.facebook_content }}\n\nCheck it out: {{ $('Amazon-Master-Webhook').first().json.amazon_link }}"
              },
              {
                "name": "link",
                "value": "={{ $('Amazon-Master-Webhook').first().json.amazon_link }}"
              }
            ]
          }
        }
      },
      "id": "5adeb5b0-1259-4536-8c20-fb18630ca284",
      "name": "Post to Facebook",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v21.0",
        "node": "<__PLACEHOLDER_VALUE__Instagram Account ID__>/media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $('Amazon-Master-Webhook').first().json.image_url }}"
              },
              {
                "name": "caption",
                "value": "={{ $json.instagram_content }}\n\n{{ $('Amazon-Master-Webhook').first().json.amazon_link }}"
              }
            ]
          }
        }
      },
      "id": "b96a2560-d950-4fc6-9fd3-ec4fda7e7085",
      "name": "Post to Instagram",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        0,
        384
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.twitter_content }}\n\n{{ $('Amazon-Master-Webhook').first().json.amazon_link }}",
        "additionalFields": {}
      },
      "id": "30238758-bc9d-4305-985b-72339d0e940e",
      "name": "Post to Twitter (X)",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        0,
        576
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.linkedin_content }}\n\nLearn more: {{ $('Amazon-Master-Webhook').first().json.amazon_link }}",
        "additionalFields": {}
      },
      "id": "c8e42a8c-6c21-4e6d-80ec-765a212201f5",
      "name": "Post to LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        0,
        768
      ]
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "<__PLACEHOLDER_VALUE__Telegram Chat ID__>",
        "file": "={{ $('Amazon-Master-Webhook').first().json.image_url }}",
        "additionalFields": {
          "caption": "={{ $json.telegram_content }}\n\n{{ $('Amazon-Master-Webhook').first().json.amazon_link }}"
        }
      },
      "id": "bbb2fed4-abd2-46c6-b63b-8a24785f74d3",
      "name": "Post to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        960
      ],
      "webhookId": "43ec3a9c-11da-4ee5-8ead-44d7df841af4"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.discord_content }}\n\n{{ $('Amazon-Master-Webhook').first().json.amazon_link }}",
        "options": {}
      },
      "id": "8e85e2fa-6919-4b42-a7c9-1c4c700e4972",
      "name": "Post to Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        0,
        1152
      ],
      "webhookId": "65f3f32e-a032-4a97-aa95-52e96f03ac8e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.medium.com/v1/users/<__PLACEHOLDER_VALUE__Medium Author ID__>/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "mediumOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": {{ $('Amazon-Master-Webhook').first().json.title }},\n  \"contentFormat\": \"html\",\n  \"content\": {{ $json.medium_content }},\n  \"canonicalUrl\": {{ $('Amazon-Master-Webhook').first().json.amazon_link }},\n  \"publishStatus\": \"draft\"\n}",
        "options": {}
      },
      "id": "feb6f069-5d24-4056-84f9-d7b5e68d329f",
      "name": "Post to Medium",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1344
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.deviantart.com/api/v1/oauth2/stash/submit",
        "authentication": "genericCredentialType",
        "genericAuthType": "deviantartOAuth2Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Amazon-Master-Webhook').first().json.title }}"
            },
            {
              "name": "artist_comments",
              "value": "={{ $json.deviantart_content }}\n\nView on Amazon: {{ $('Amazon-Master-Webhook').first().json.amazon_link }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b4c35d-cf2e-4d29-b5e1-e5ac26e9b480",
      "name": "Post to DeviantArt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        1536
      ]
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "dd270cea-c083-4a70-9032-554e77b8e597",
      "name": "Wait - Rate Limit 1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -672,
        768
      ],
      "webhookId": "4e0dc02a-57de-4c89-8a60-bd0eb1061838"
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "07659090-4d8a-43ad-84d9-71186f18014e",
      "name": "Wait - Rate Limit 2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -448,
        1152
      ],
      "webhookId": "bbe75f8f-12f5-487f-b7f4-4fab54ff98f6"
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "d92187d6-fa65-41b5-bc00-8cb94dc771eb",
      "name": "Wait - Rate Limit 3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -224,
        1440
      ],
      "webhookId": "32b18f66-9d2a-4bc9-b55a-263a2ed11de8"
    },
    {
      "parameters": {
        "numberInputs": 9
      },
      "id": "06a2456b-65da-43fd-b33e-3488946947ff",
      "name": "Merge All Responses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        224,
        656
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"complete\",\n  \"platforms_posted\": [\"Pinterest\", \"Facebook\", \"Instagram\", \"Twitter\", \"LinkedIn\", \"Telegram\", \"Discord\", \"Medium\", \"DeviantArt\"]\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "5de391e8-7438-4bfb-a6cb-5f94154d5e74",
      "name": "Send Final Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        448,
        768
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Amazon-Master-Webhook": {
      "main": [
        [
          {
            "node": "AI Content Transformer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Content Transformer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Content Transformer": {
      "main": [
        [
          {
            "node": "Post to Pinterest",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to Facebook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait - Rate Limit 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Rate Limit 1": {
      "main": [
        [
          {
            "node": "Post to Twitter (X)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to LinkedIn",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait - Rate Limit 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Rate Limit 2": {
      "main": [
        [
          {
            "node": "Post to Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to Discord",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait - Rate Limit 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Rate Limit 3": {
      "main": [
        [
          {
            "node": "Post to Medium",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to DeviantArt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Pinterest": {
      "main": [
        [
          {
            "node": "Merge All Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Facebook": {
      "main": [
        [
          {
            "node": "Merge All Responses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Post to Instagram": {
      "main": [
        [
          {
            "node": "Merge All Responses",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Post to Twitter (X)": {
      "main": [
        [
          {
            "node": "Merge All Responses",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Post to LinkedIn": {
      "main": [
        [
          {
            "node": "Merge All Responses",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Post to Telegram": {
      "main": [
        [
          {
            "node": "Merge All Responses",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Post to Discord": {
      "main": [
        [
          {
            "node": "Merge All Responses",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Post to Medium": {
      "main": [
        [
          {
            "node": "Merge All Responses",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Post to DeviantArt": {
      "main": [
        [
          {
            "node": "Merge All Responses",
            "type": "main",
            "index": 8
          }
        ]
      ]
    },
    "Merge All Responses": {
      "main": [
        [
          {
            "node": "Send Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1eda46ae-287a-494f-bc83-531a7a24ef22",
  "meta": {
    "instanceId": "9677cc0e1dd2417613f45fa0bf7541be12cebb91bf43c72f5506175b9d18fc32"
  },
  "id": "fel6PaueVbNGu8kI",
  "tags": []
}